@font-face {
  font-family: 'Norse';
  src: url(fonts/Norse-Bold.otf) format('opentype');
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid rgba(255, 0, 0, 0.3);
}

.grid {
  display: grid;
}

.main-container {
  /* grid-template-rows: 1fr; */
  grid-template-columns: 1fr 4fr;
  width: 100vw;
  height: 100vh;
}

.sideboard {
  grid-column: 1 / 2;
  grid-template-rows: 0.5fr repeat(9, 0.5fr);
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%,
  rgba(22,100,187,1) 0%, rgba(0,212,255,1) 92%);
}

.dashboard-logo::before {
  /* content: url(images/dashboard-svgrepo-com.svg);
  width: 10px;
  height: 10px;  */
}

.dashboard-logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1.5rem;
  font-family: 'Norse', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 
  'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.sideboard-link-1 {
  margin-top: 30px;
  grid-template-rows: repeat(6, 1fr);
}

.sideboard-link-1 > a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #ffffff;
  padding: 5px 0;
}

a {
  text-decoration: none;
}

.sideboard-link-2 {
  margin-top: 50px;
  grid-template-rows: repeat(3, 1fr);
}

.sideboard-link-2 > a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #ffffff;
  padding: 5px 0;
}

.mainboard {
  grid-column: 2 / -1;
  grid-template-rows: 0.4fr 0.8fr 10fr;
}

.upper-dashboard-1 {
  grid-template-columns: 0.7fr 5fr 1fr 1fr 1fr;
  padding-top: 20px;
  padding-bottom: 30px;
  gap: 30px;
}

.search::before {
  content: url(images/sistrix.svg)
}

.search {
  width: 1.3rem;
  height: 1.3rem;
  justify-self: flex-end;
  /* margin-right: 10px; */
}

#searchbar {
  border-radius: 100px;
  background-color: rgba(0, 0, 0, 0.09);
}

.notify-bell::before {
  content: url(images/bell.svg);
}

.notify-bell {
  width: 1.3rem;
  height: 1.3rem;
  justify-self: flex-end;
}

/* .profile-img-1::before {
  content: url(images/1686146235GrizzlyHead1.svg);
  object-fit: contain;
}

.profile-img-1 {
  width: 1.3rem;
  height: 1.3rem;
  justify-self: flex-end;
} */

.username-1 > span {
  white-space: nowrap;
}

.username-1 {
  margin-right: 70px;
}

.upper-dashboard-2 {
  grid-template-rows: 0.1fr 0.5fr;
  grid-template-columns: 0.5fr 1.5fr 0.5fr 0.5fr 0.5fr 0.1fr;
  grid-template-areas: 
    "profile-img greeting   .   .      .     ."
    "profile-img username-2 new upload share .";
  column-gap: 20px;
  padding-right: 10px;
}

.profile-img-2 {
  grid-area: profile-img;
}

.greeting {
  grid-area: greeting;

}

.username-2 {
  grid-area: username-2;
}

.new {
  grid-area: new;
}

.upload {
  grid-area: upload;
}

.share {
  grid-area: share;
}

.upper-dashboard-2 > button {
  border-radius: 100px;
}